html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	background: #fafafa;
}

button {
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 0;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	width: 100%;
	height: 50px;

	&.add {
		background: deeppink;
	}
	&.remove {
		height: 40px;
		color: #999;
	}
}

.container {
	position: relative;
}

.cartHeader {
	cursor: pointer;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 999;
	height: 50px;
	background: url('https://img.icons8.com/ios/100/000000/shopping-bag.png') no-repeat 99% 10px;
	background-size: 30px;
	padding: 0 1em;

	p {
		text-align: center;
		color: #333;
		line-height: 50px;
		font-size: 1.5em;
		font-weight: bold;
		&:after {
			content: '€';
		}
	}

	.cartCounter {
		position: absolute;
		top: 5px;
		right: 6px;
		background: deeppink;
		color: #fff;
		width: 20px;
		height: 20px;
		line-height: 20px;
		border-radius: 50%;
		text-align: center;
		font-size: 0.9em;
		font-weight: bold;
	}
}
.cart {
	position: fixed;
	padding: 0;
	top: 0;
	bottom: 0;
	left: auto;
	right: -230px;
	z-index: 2;
	font-size: 1.2em;
	background: #fff;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid #eaeaea;
	overflow-y: scroll;
	min-width: 20vw;
	transition: all 0.3s ease-in;
	margin-top: 3em;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);

	.cartDetail {
		.cartSingleItem {
			display: flex;
			align-items: baseline;
			border-bottom: 1px solid #eaeaea;
			padding: 0.5em;

			img {
				max-width: 35px;
				margin-right: 0.5em;
			}

			p {
				width: 4.5em;
				font-size: 0.9em;
				flex-grow: 1;
				position: relative;
				display: inline-block;
				text-transform: uppercase;
			}

			.price {
				padding-left: 2em;
				font-weight: bold;
				&:after {
					content: '€';
				}
			}

			.action {
				text-align: right;
				flex-grow: 2;
				cursor: pointer;
				.remove {
					transition: all 0.2s ease-in;
					font-size: 1em;
					width: 2em;

					&:hover {
						color: red;
					}
				}
			}
		}
	}

	.emptyCart {
		position: absolute;
		top: 85vh;
		color: #999;
	}
	.checkout {
		border-bottom-left-radius: 20px;
		width: 55px;
		height: 55px;
		line-height: 55px;
		font-size: 1.5em;
		font-weight: 300;
		background: #16b916;
		position: fixed;
		right: 0;
		left: auto;
	}

	&.visible {
		right: 0;
	}
}

.itemList {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	padding: 3em 1em;
	background: #fafafa;

	.item {
		cursor: pointer;
		position: relative;
		padding: 1em 3em;
		margin: 1em;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
			0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

		transition: all ease 0.3s;

		&:hover {
			box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
				0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.062),
				0 41.8px 33.4px rgba(0, 0, 0, 0.026), 0 100px 80px rgba(0, 0, 0, 0.02);
		}

		.add {
			bottom: 0;
		}
	}
}

.itemInfos {
	display: flex;
	flex-direction: column;

	.newProduct {
		mask: url('./images/newProduct.svg');
		margin: 0 auto;
		display: inline-block;
		width: 10vw;
		height: 10vw;
		background: deeppink;
		mask-size: contain;
		mask-repeat: no-repeat;
	}

	img {
		width: 10vw;
		max-width: 10vw;
	}

	.itemName {
		text-align: center;
		font-weight: bold;
		font-size: 0.9em;
		padding: 1em 0;
		text-transform: uppercase;
	}

	.itemCounter {
		position: absolute;
		top: 0;
		right: -0.5em;
		background: deeppink;
		color: #fff;
		width: 2em;
		height: 2em;
		border-radius: 50%;
		text-align: center;
		line-height: 2em;
		font-size: 1.5em;
		font-weight: bold;
	}

	.itemPrice {
		font-weight: bold;
		padding-top: 1em;
		text-align: center;
		font-size: 1.5em;
		padding: 0.3em;

		&:after {
			content: '€';
		}
	}
}

// Material input Style
/* form starting stylings ------------------------------- */
.group {
	position: relative;
	margin: 0;
	width: 130px;
}
input {
	font-size: 18px;
	padding: 0;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
}
input:focus {
	outline: none;
}

/* LABEL ======================================= */
label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
	top: -20px;
	font-size: 14px;
	color: deeppink;
}

/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0;
	position: absolute;
	background: deeppink;
	transition: 0.2s ease all;
}
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
	position: absolute;
	height: 60%;
	width: 100%;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@keyframes inputHighlighter {
	from {
		background: deeppink;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@media only screen and (max-width: 600px) {
	.cart {
		position: fixed;
		width: 80vw;
		z-index: 999;
		right: -65vw;
		min-width: 0;
		transition: all 0.4s ease-in;
	}

	.itemList {
		.item {
			width: 78vw;
			padding: 1em 0;
			margin: 0.3em 0;
			height: auto;

			.itemInfos {
				flex-direction: row;
				justify-content: space-around;

				.newProduct {
					margin: 0;
				}

				.itemCounter {
					top: -0.2em;
					right: -0.2em;
					width: 1.8em;
					height: 1.8em;
					line-height: 1.8em;
					font-size: 1.2em;
				}

				form {
					display: flex;

					.group {
						display: flex;
						margin: 0 5px;
						min-width: 100px;
						width: 100px;
						input {
							padding: 5px 0;
						}

						.bar {
							width: auto;
						}
					}
				}
			}

			.add {
				position: relative;
				width: auto;
				height: auto;
			}
		}
	}
}
